
.main_book{
    position: absolute;
    left: 11%;
    top: 7%;
    width: 80vw;
}
.heading{
    background-color: rgba(139, 140, 141, 0.2);
}
table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 80vw;
}
th, td{
    padding: 10px;
    text-align: center;
}

.icon{
    width: 100px;
}
.e_icon{
    position: relative;
    cursor: pointer;
}
.d_icon{
    position: relative;
    left: 5px;
    right: 10px;
    cursor: pointer;
}
.r_icon{
    position: relative;
    left: 10px;
    right: 10px;
    cursor: pointer;
}
.add_page{
    width: 35vw;
    height: 72vh;
    border: 1px solid rgba(9, 9, 9, 0.5);
    border-radius: 3px;
    background-color: skyblue;
    position: relative;
    top: 10%;
    left: 32%;
    padding: 10px;
}
.add_page h2{
    margin-top: 0;
}
.inp input{
    width: 34vw;
    height: 30px;
    border: 0.5px solid rgba(9, 9, 9, 0.5);
    border-radius: 3px;
    margin-bottom: 5px;
}
.add{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.close{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.view_page{
    width: 35vw;
    height: 75vh;
    border: 1px solid rgba(9, 9, 9, 0.5);
    border-radius: 3px;
    background-color: white;
    position: relative;
    top: 10%;
    left: 32%;
    padding: 10px;
    background-color: skyblue;
}
.view_page h2{
    margin-top: 0;
}
.inp_view label{
    margin-bottom: 3px;
}
.del_page{
    width: 30vw;
    height: 15vh;
    border: 1px solid rgba(9, 9, 9, 0.5);
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 30%;
    left: 35%;
    padding: 10px;
    background-color: skyblue;
    text-align: center;
}
.del_btn{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.del_btn button{
    cursor: pointer;
    height: 25px;
    width: 50px;
}
.inp select{
    width: 34vw;
    height: 30px;
    border: 0.5px solid rgba(9, 9, 9, 0.5);
    border-radius: 3px;
    margin-bottom: 5px;
}
